# This is Git's per-user configuration file.
[user]
	name = Sayantan Chatterjee
	email = thisissayantan.mail@gmail.com

[credential "https://github.com"]
    username = coderIlluminatus

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
